.planetsWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  row-gap: 20px;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}

.planetCard {
  background-color: #6e1dbf63;
  width: 250px;
  border-radius: 10px;
  padding: 10px;
  min-height: 185px;
}
